<!DOCTYPE html>
<html>
  <head>
    <title>Mirror Mirror ML</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 450px)" href="/stylesheets/main/mobileportrait.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 451px) and (max-width:812px)" href="/stylesheets/main/mobilelandscape.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 813px)" href="/stylesheets/main/desktop.css">
  </head>
  <body>
    <center>
      <header class="page">
        <div class="pagecenter">
          <h1>Mirror Mirror ML</h1>
          <a class="button-important" href="vote">Start</a>
          <p class="subtitle">(Just choose the prettier one)</p>
        </div>
        <div class="pagebottom">
          <img class="icon" src="images/chevron-down.svg" alt="">
        </div>
      </header>
      <header class="page pink">
        <div class="pagecenter half">
          <h2>Why?</h2>
          <p>This website collects data about people's faces.<br>This data will
            be stored and used to make an AI that will rate people's beauty.<br>
            This data will be public and free for anyone to download, for use in
            the field of AI.
          </p>
        </div>
      </header>
      <p class="smalltext">All of this website's sources are avilable at: <a href="https://github.com/AmitGoren/mmml">https://github.com/AmitGoren/mmml</a>
    </center>
  </body>
</html>
