<!DOCTYPE html>
<html>
  <head>
    <title>AIUCDataGen</title>
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 450px)" href="/stylesheets/vote/mobileportrait.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 451px) and (max-width:812px)" href="/stylesheets/vote/mobilelandscape.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 813px)" href="/stylesheets/vote/desktop.css">
    <script src="/javascripts/voting.js"></script>
  </head>
  <body style="padding: 5vh">
    <center>
      <h2>Who is prettier?</h2>
      <span style="float:left">
        <img style="float:right" class="picture" src="/i/<%= picture_1.filename %>" onclick="vote(1)"></img>
      </span>
      <span style="float:right">
        <img style="float:left" class="picture" src="/i/<%= picture_0.filename %>" onclick="vote(2)"></img>
      </span>
      <button class="button-important" onclick="vote(1)">Left</button>
      <button class="button-important" onclick="vote(0)">Natrual</button>
      <button class="button-important" onclick="vote(2)">Right</button>
    </center>
  </body>
</html>
